{% extends 'base.html' %}
{% block treeview5 %}
    active
{% endblock %}
{% block orderstatistics %}
    class="active"
{% endblock %}
{% block content %}
    <div class="content-wrapper small">
        <section class="content-header">
            <h3>客户成单量统计</h3>
            <hr>
            <a type="button" class="btn btn-primary" href="?date=today">今天</a>
            <a type="button" class="btn btn-warning" href="?date=yesterday">昨天</a>
            <a type="button" class="btn btn-danger" href="?date=week">最近一周</a>
            <a type="button" class="btn btn-info" href="?date=month">最近一个月</a>
        </section>

        <!-- action批量处理的form表单  -->
        <form action="" method="post">
            {% csrf_token %}

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">
                                    {{ content }}
                                </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div id="container" style="min-width:400px;height:400px"></div>
                                <hr style="height:1px;border:none;border-top:1px solid #555555;"/>
                                <table id="example2" class="text-center table table-bordered table-hover">
                                    <thead>
                                    <tr class="danger">
                                        <th class="text-center">编号</th>
                                        <th class="text-center">车号</th>
                                        <th class="text-center">配送时间</th>
                                        <th class="text-center">驾驶员</th>
                                        <th class="text-center">押运员</th>
                                        <th class="text-center">发货单位</th>
                                        <th class="text-center">发货地址</th>
                                        <th class="text-center">收货单位</th>
                                        <th class="text-center">油品</th>
                                        <th class="text-center">实收数</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for staticinformation in staticinformation_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ staticinformation.car_name }}</td>
                                            <td>{{ staticinformation.deliver_time }}</td>
                                            <td>{{ staticinformation.driver }}</td>
                                            <td>{{ staticinformation.supercargo }}</td>
                                            <td>{{ staticinformation.customer_name }}</td>
                                            <td>{{ staticinformation.oilwarehouse }}</td>
                                            <td>{{ staticinformation.petrolstation }}</td>
                                            <td>{{ staticinformation.oil }}</td>
                                            <td>{{ staticinformation.paid_in_number }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation" class="pull-right">
                                    <ul class="pagination">
                                        {{ pagination.page_html|safe }}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </form>
    </div>
{% endblock %}