{% extends "base.html" %}
{% block treeview2 %}
    active
{% endblock %}

{% block earning_distinct_active %}
    class="active"
{% endblock %}
{% block content %}
    {% load extra_tags %}
    <div class="content-wrapper small">
        <section class="content-header">
            <h1>
                结算工资列表(去重)
            </h1>
            <hr>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-th-list"></i> 首页</a></li>
                <li><a>结算工资列表(去重)</a></li>
            </ol>
            <!-- 模糊查询的form表单  -->
            <form action="" method="get" class="pull-right">
                <ol class="breadcrumb">

                    <select name="field" id="s1" class="form-control" style="display: inline-block;width: 110px">
                        <option value="deliver_time">配送时间</option>
                        <option value="car_name">车号</option>
                        <option value="driver">驾驶员</option>
                        <option value="supercargo">押运员</option>
                    </select>
                    <input class="form-control" style="display: inline-block;width: 200px" type="text" name="q"
                           placeholder="搜索">
                    <button style="vertical-align: 0px" class="btn btn-success">搜索</button>
                </ol>
            </form>


        </section>

        <!-- action批量处理的form表单  -->
        <form action="" method="post">
            {% csrf_token %}
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="col-md-2 pull-right">
                                    <a href="/export_earning_distinct/?field={{ field }}&q={{ q }}"
                                       class="btn btn-info pull-right"><i
                                            class="fa fa-file-excel-o"
                                            aria-hidden="true"></i> 导出Excel
                                    </a>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example2" class="text-center table table-bordered table-hover">
                                    <thead>
                                    <tr class="danger">
                                        <th>编号</th>
                                        <th>驾驶员</th>
                                        <th>押运员</th>
                                        <th>车牌号码</th>
                                        <th>配送时间</th>
                                        <th>车次</th>
                                        <th>客户名称</th>
                                        <th>油库</th>
                                        <th>加油站</th>
                                        <th>里程</th>
                                        <th>里程最大值</th>
                                        <th>油库加油站/个数(去重)</th>
                                        <th>油罐数</th>
                                        <th>驾驶员工资</th>
                                        <th>押运员工资</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for staticinformation in staticinformation_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ staticinformation.driver }}</td>
                                            <td>{{ staticinformation.supercargo }}</td>
                                            <td>{{ staticinformation.car_name }}</td>
                                            <td>{{ staticinformation.deliver_time |date:"Y-m-d" }}</td>
                                            <td>{{ staticinformation.drive_number }}</td>
                                            <td>{{ staticinformation.customer_name }}</td>
                                            <td>{{ staticinformation.oilwarehouse }}</td>
                                            <td>{{ staticinformation.petrolstation }}</td>
                                            <td>{{ staticinformation.mileage }}</td>
                                            <td>{{ staticinformation.max_mileage }}</td>
                                            <td>{{ staticinformation.oilwarehouse_petrolstation_count }}</td>
                                            <td>{{ staticinformation.oiltank_number }}</td>
                                            <td>{{ staticinformation.earning }}</td>
                                            {# 自定义标签实现 #}
                                            <td>{{ staticinformation.earning |multiply:"0.55" }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>


                                <nav aria-label="Page navigation" class="pull-right">
                                    <ul class="pagination">
                                        {{ pagination.page_html|safe }}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </form>
    </div>
{% endblock %}

