{% extends "base.html" %}
{% block oilwarehouse_active %}
    class = "active"
{% endblock %}
{% block treeview %}
    active
{% endblock %}
{% block content %}
    <div class="content-wrapper small">
        <section class="content-header">
            <h1>
                油库列表
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-th-list"></i> 首页</a></li>
                <li><a>油库列表</a></li>
            </ol>
            <!-- 模糊查询的form表单  -->
            <form action="" method="get" class="pull-right">
                <ol class="breadcrumb">

                    <select name="field" id="s1" class="form-control" style="display: inline-block;width: 110px">
                        <option value="name">油库名称</option>
                    </select>
                    <input class="form-control" style="display: inline-block;width: 200px" type="text" name="q"
                           placeholder="搜索">
                    <button style="vertical-align: 0px" class="btn btn-success">搜索</button>
                </ol>
            </form>
        </section>

        <!-- action批量处理的form表单  -->
        <form action="" method="post">
            {% csrf_token %}
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title"><a href="{% url 'oilwarehouse_add' %}"
                                                         class="btn btn-primary btn-sm">添加油库</a>
                                </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example2" class="text-center table table-bordered table-hover">
                                    <thead>
                                    <tr class="danger">
                                        <th>编号</th>
                                        <th>油库名称</th>
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for oilwarehouse in oilwarehouse_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ oilwarehouse.name }}</td>
                                            <td>{{ oilwarehouse.remark|default:"暂无备注" }}</td>
                                            <td>
                                                <a href="{% url 'oilwarehouse_edit' oilwarehouse.pk %}?page={{ page_num }}"
                                                ><i class="fa fa-edit fa-lg" aria-hidden="true"></i></a>&nbsp;|&nbsp;
                                                <a href="" data-toggle="modal"
                                                   data-target="#myModal{{ oilwarehouse.pk }}"><i
                                                        class="fa fa-trash-o fa-lg"></i></a>
                                                <!-- 模态框 -->
                                                <div class="modal fade" id="myModal{{ oilwarehouse.pk }}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog modal-sm" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel">确认删除?</h4>
                                                            </div>
                                                            <div class="modal-body">

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">关闭
                                                                </button>
                                                                <a type="button" class="btn btn-primary"
                                                                   href="{% url 'oilwarehouse_delete' oilwarehouse.id %}?page={{ page_num }}">确认
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation" class="pull-right">
                                    <ul class="pagination">
                                        {{ pagination.page_html|safe }}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </form>
    </div>
{% endblock %}

