{% extends "base.html" %}
{% block information_active %}
    class="active"
{% endblock %}

{% block content %}
    <div class="content-wrapper small">
        <section class="content-header">

        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">

                        <!-- /.box-header -->
                        <div class="box-body">
                            <h3>已审核,请勿再次审核!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}

